<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
  id          = "com.carbonwallet.CarbonKey"
  versionCode = "1"
  version     = "1.0.0" >

  <!-- versionCode is optional and Android only -->

  <name>Carbon Key</name>

  <description>
    Authentication and transaction signing for Carbon Wallet.
  </description>

  <author href="https://carbonwallet.com" email="support@carbonwallet.com">
    Carbon Wallet
  </author>

  <!-- We'll include the Barcode plugin as an example -->
  <plugin name="phonegap-plugin-media-stream" />
</widget>